<div class="container">
  <div class="card blue-grey lighten-5">
    <div class="card-content">
      <span class="card-title">Resend confirmation instructions</span>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
        <div class="actions">
          <span class="waves-effect waves-light btn"><%= f.submit "Resend" %></span>
        </div>
      <% end %><br>
      <div class="card-action">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
