<!DOCTYPE html>
<html>
  <head>
    <title>DataViz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>
  <nav>
    <div class="nav-wrapper z-depth-4">
      <a href="#" class="brand-logo" style='padding:5px;'>Data Viz</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Login', new_user_session_path, class: 'nav-link waves-effect waves-light btn amber' %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% if current_user.admin %>
            <li><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
    <div id="particles-js">
      <div class="container" id='text'>
        <h2>Data Visualization at your Fingertips</h2>
        <%= link_to 'Create an Account', new_user_registration_path, class: 'nav-link waves-effect waves-light btn-large amber' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col m3 s12"><a class="blue-text" href="#voted">WHITEHOUSE</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#posts">NEW YORK FOOD SERVICE</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#followers">VINLI</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#following">WEATHER</a></li>
          <div class="indicator blue" style="z-index:1"></div>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
