<!DOCTYPE html>
<html>
  <head>
    <title>DataViz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  </head>
  <nav>
    <div class="nav-wrapper z-depth-4 blue darken-3">
      <%= link_to(image_tag("data.png", :alt => "logo", :title => "Home", :style => 'padding:10px;'), root_path) %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Login', new_user_session_path, class: 'nav-link waves-effect waves-light btn amber' %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% if current_user.admin %>
            <li><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
      <%= yield %>
  </body>
</html>
