<!DOCTYPE html>
<html>
  <head>
    <title>DataViz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
    <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
  </head>
  <nav class='nav-extended color-primary'>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo" style='padding:5px;'>Data Viz</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Login', new_user_session_path, class: 'nav-link waves-effect waves-light btn amber' %></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% if current_user.admin %>
            <li><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
  <div id='particles-js'>
    <h3 class="text-white-1">Curated Data at your Fingertips</h1>
    <h1><%= link_to 'Start Your Free Trial', new_user_registration_path, class: 'nav-link waves-effect waves-light btn-large amber'  %></h1>
</div>
  <body>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col m3 s12"><a class="blue-text" href="#voted">WHITEHOUSE</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#posts">NEW YORK FOOD SERVICE</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#followers">VINLI</a></li>
          <li class="tab col m3 s12"><a class="blue-text" href="#following">WEATHER</a></li>
          <div class="indicator blue" style="z-index:1"></div>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
